<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style/style.css">
</head>
<body>

<h3>Create Salle</h3>

<div class="container">
    <form action="/salle/create" method="POST">
    <label for="number">number</label>
    <input type="text" id="number" required>

    <label for="status">status</label>
    <input type="text" id="status"required>
    <label for="capacity">capacity</label>
    <input type="text" id="capacity"required>

    <label for="equipement">equipement</label>
    <input type="text" id="equipement">
    <label for="availability">availability</label>
    <input type="text" id="availability">

    <label for="author">author</label>
    <input type="text" id="author">


    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
